.recentWork__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.5rem;
}

.recentWork__item {
    background: var(--color-bg-variant);
    padding: 1.3rem;
    border-radius: 2rem;
    border: 1px solid transparent;
    transition: box-shadow 0.3s ease;
}

.recentWork__item:hover {
    border-color: var(--color-primary-variant);
    box-shadow: 0 20px 40px rgba(211, 211, 211, 0.523);
    /* background: transparent; */
}

.recentWork__item-image {
    border-radius: 1.5rem;
    overflow: hidden;
}

.recentWork__item h3 {
    margin: 1.2rem 0 2rem;
}

.recentWork__item-cta {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
}


/* ------ MEDIA Queries (Tabs/Medium Devices) ------ */

@media screen and (max-width: 1024px) {
    .recentWork__container {
        grid-template-columns: 1fr 1fr;
        gap: 1.2rem;
    }
}

/* ------ MEDIA Queries (Mobile/Small Devices) ------ */

@media screen and (max-width: 600px) {
    .recentWork__container {
        grid-template-columns: 1fr;
        gap: 1rem;
    }
}